/*Schrijf hier jouw CSS*/
body {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.outer-col-1 {
    width: 250px;
}

.outer-col-2 {
    display: flex;
    flex-direction: column;
    width: 100%;



}
.inner-row {
    display: flex;
    flex-direction: row;
    height: 100%;

}

.inner-col {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

header, footer {
    height: 100px;
}
article {
    flex-grow: 1;
}

